:root {
  --white: hsl(0, 0%, 100%);
  --cyan: hsl(171, 66%, 44%);
  --blue: hsl(233, 100%, 69%);
  --dark-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 15px;
  color: var(--dark-blue);
}
h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--dark-blue);
}
h3 {
  font-size: 23px;

  color: var(--dark-blue);
}
p {
  max-width: 690px;
  margin: auto;
  margin-bottom: 155px;
  color: var(--grayish-blue);
  font-size: 18px;
  line-height: 1.7;
}
.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}
/* Header */
.header {
  background: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 130px 160px 75px;
}
.header-logo {
  display: block;
  margin: auto;
  margin-bottom: 55px;
}
.header p {
  margin-bottom: 50px !important;
  line-height: 1.5;
  font-size: 20px;
}
.multiple-btn {
  text-align: center;
}
.multiple-btn .btn {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 15px 35px;
  color: var(--white);
  border-radius: 10em;
  border-bottom: 4px solid;
}
.multiple-btn .btn-1 {
  background-color: var(--cyan);
  margin-right: 10px;
  border-color: hsl(171, 66%, 36%);
  box-shadow: 0 10px 30px -5px hsla(233, 100px, 65%, 0.5);
}
.multiple-btn .btn-2 {
  background-color: var(--blue);
  border-color: hsl(233, 100%, 65%);
  box-shadow: 0 10px 30px -5px hsla(233, 100%, 65%, 0.5);
}
.multiple-btn .btn {
  transition: all 0.2s;
}
.multiple-btn .btn:hover {
  opacity: 0.9;
}
/* About */
.about {
  padding: 75px 0;
}
.about p {
  max-width: 690px;
  margin: auto;
  text-align: center;
  margin-bottom: 75px;
}
.about-content {
  display: flex;
}
.about-content .img-box {
  width: 50%;
  overflow: hidden;
}
.about-content .img-box img {
  display: block;
  width: 100%;
  height: auto;
  transform: translateX(-5px);
}
.about-content .cards {
  width: 50%;
  padding: 70px 110px;
}
.about-content .cards .card:not(:last-child) {
  margin-bottom: 55px;
}
.about-content .cards .card h3 {
  margin-bottom: 10px;
}
.about-content .cards .card p {
  max-width: 450px;
  font-size: 16px;
  line-height: 2;
  text-align: start;
}
.access {
  padding: 75px 160px 0;
}
.access img {
  display: block;
  margin: auto;
}
.features {
  padding: 70px 160px;
}
.features p {
  margin-bottom: 75px;
  text-align: center;
}
.features .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 80px 30px;
  text-align: center;
}
.features .card {
  max-width: 350px;
  justify-self: center;
}
.features .card .img-box {
  height: 75px;
}
.features .card .card-content h3 {
  margin-bottom: 20px;
}
.features .card .card-content p {
  line-height: 2;
  font-size: 16px;
}
.clients {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 80px 100px;
  padding: 85px 160px;
}
.clients img {
  place-self: center;
}
.download {
  padding: 70px 160px 150px;
}
.download p {
  text-align: center;
  margin-bottom: 50px;
}
