:root {
  --light-black: #333;
  --black: #000;
  --white: #f4f4f4;
  --light-blue: #4682b4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Playpen Sans", sans-serif;
  background-color: var(--light-black);
  color: var(--white);
}
a {
  color: var(--white);
  text-decoration: none;
}
ul {
  list-style: none;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
.logo {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bolder;
  cursor: pointer;
}
.logo span {
  color: var(--light-blue);
}
.navbar a {
  font-size: 1.7rem;
  color: var(--white);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar .active {
  color: var(--light-blue);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--white);
  display: none;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--light-blue);
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-img img {
  width: 35vw;
}
.home-content p {
  font-size: 1.6rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--light-blue);
  font-size: 2rem;
  color: var(--light-blue);
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.social-media a:hover {
  background-color: var(--light-blue);
  color: var(--white);
  box-shadow: 0 0 1rem var(--light-blue);
}
.about {
  background-color: var(--black);
}
.row {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 2rem;
}
.about-img img {
  width: 35vw;
  object-fit: cover;
  border-radius: 10% 0.2rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  width: 40vw;
}
.heading {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 5rem;
}

.project h2 {
  margin-bottom: 5rem;
}
.project-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10rem;
}
.project-container .project-box {
  background-color: var(--black);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--light-blue);
}
.project-box {
  font-size: 7rem;
  color: var(--white);
  max-width: 40rem;
}
.project-box:last-child {
  margin-right: auto;
}
.project-box h3 {
  font-size: 2.6rem;
}
.project-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--light-blue);
  border-radius: 4rem;
  box-shadow: 0 0 2rem 0.5rem var(--light-blue);
  font-size: 1.6rem;
  color: var(--white);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s;
  margin: 1rem;
}
.btn:hover {
  background: var(--black);
  /* border: 1px dashed var(--light-blue); */
}

.resume .resume-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume-content h5 {
  font-size: 3.2rem;
}
.contact h3 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
}
.contact h2 {
  position: absolute;
  top: 5rem;
}
.form fieldset {
  display: flex;
  flex-direction: column;
}
.form label {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}
input,
textarea {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
  min-height: 2rem;
  background-color: transparent;
  border-bottom: 2px solid var(--white);
  color: var(--white);
}
input[type="submit"] {
  margin: 3rem 0;
  max-width: 13rem;
  border: none;
}
.contact .col-2 {
  font-size: 2.3rem;
}
.contact .col-2 li {
  list-style: none;
  margin: 1rem 0;
}
.contact .col-2 li i {
  color: var(--light-blue);
  padding: 2rem;
  font-size: 3rem;
}
.container {
  max-width: 73.1rem;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 30%;
  padding: 0 15px;
}
.footer h4 {
  font-size: 2.1rem;
  color: var(--white);
  margin-bottom: 2rem;
  font-weight: 700;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--light-blue);
  height: 2px;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.footer-col ul li a {
  font-size: 1.5rem;
  font-weight: 300;
  display: block;
  transition: 0.3s ease;
}
.footer-col ul li a:hover {
  padding-left: 0.5rem;
  color: var(--light-blue);
}
.footer-social-media {
  display: flex;
}
.footer-social-media a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--light-blue);
  font-size: 2rem;
  color: var(--light-blue);
  margin: 0 0.5rem 0.5rem 0;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
  color: var(--white);
  transition: all 0.5s ease;
}
.footer-social-media a:hover {
  background-color: var(--light-blue);
  color: var(--white);
  box-shadow: 0 0 1rem var(--light-blue);
}
